.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  width: fit-content;
  height: fit-content;
  min-width: 400px;
  min-height: 650px;
  max-width: 500px;
  max-height: 700px;
  text-align: right;
  
}

.profile-avatar {
  margin: 0 auto 20px;
}

.profile-card .MuiCardActions-root {
  display: flex;
  justify-content: center;
}

/* Adjust the font size for inputs, headings, paragraphs, and buttons */
.profile-card input,
.profile-card h5,
.profile-card p,
.profile-card button {
  font-size: 1.1em; 
}

.profile-card input {
  width: 100%; 
  padding: 8px; 
  text-align: right;
  box-sizing: border-box;
}

.profile-card :placeholder-shown {
  text-align: right;
}

div::-webkit-scrollbar {
  display: none;
}



