/* Global */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-card {
  width: fit-content;
  height: fit-content;
  min-width: 450px;
  min-height: 850px;
  text-align: right;
  
}

.profile-card h5,
.profile-card p,
.profile-card button {
  font-size: 1.1em; 
}

.profile-card .MuiCardActions-root {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.profile-card input {
  width: 100%;
  font-size: 1.1em; 
  padding: 8px; 
  text-align: right;
  box-sizing: border-box;
}

/* Contect Cards Components */

.profile-avatar {
  margin: 0 auto 20px;
}


