.task-selection-page {
  padding: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.sort-button-container {
  text-align: left;
  margin-bottom: 15px;
}

.task-list {
  max-height: 400px;
  overflow-y: auto;
}

.task-list th,
.task-list td {
  text-align: right;
  width: 100px;
}

.task-selection-menu {
  padding: 10px;
  align-content: left;
}